.sec_sp {
    margin-top: 10px;
}

.prize {
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.prize p {
    font-size: 20px;
}

.carouselroom {
    width: 80%;
    height: 80%;
}

.slideroom {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
}

/* Adjust the image size to be responsive */
.imageactive1 {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border: 5px var(--secondary-color) solid;
    border-bottom: 30px var(--secondary-color) solid;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);

}

.carousel-indicators {
    display: none;
}

.carousel-caption {
    left: -20px;
    position: relative;
    max-width: 100%;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    word-wrap: break-word !important;
    /* Correct property for breaking long words */
    overflow-wrap: break-word !important;
    /* Ensures words break to prevent overflow */
    white-space: pre-wrap !important;
    /* Maintains whitespace but allows wrapping */
    text-wrap: balance !important;
    margin-right: 60px !important;
}

.carouselroom .carousel-caption h3,
.carouselroom .carousel-caption p {
    color: #ffffff;
    /* display: flex; */
    text-align: left;
    margin-left: 0px;
}

/* CSS */
.backgroundvideo img {
    width: 100%;
    /* Corrected from auto% to 100% */
    height: 100%;
    /* This makes the image take the full height of its container */
}

@media (max-width: 768px) {
    .backgroundvideo img {
        height: 100vh;
        /* This makes the image take the full height of the viewport */
        object-fit: cover;
        /* Ensures the image covers the area without distortion */
    }

    .carousel-caption p {
        display: none;
    }
}

.backgroundvideo img {
    width: 100%;
    /* Ensure the image covers the full width */
    height: auto;
    /* Maintain the image's aspect ratio */
    object-fit: cover;
    /* Cover the full area of the container without distortion */
}

@media (max-width: 768px) {
    .backgroundvideo img {
        display: none;
    }
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway';
}

.progress {
    height: 5px;
    background: var(--secondary);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.progress .progress-bar {
    position: relative;
    background: var(--text-color);
    animation: animate-positive 2s;
    overflow: visible;
    opacity: 0.9;
}

.progress .progress-value {
    position: absolute;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.section-title {
    font-size: 45px;
}

.service__title {

    border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {}


/*! CSS Used keyframes */

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}