.carouselactive {
  width: 80% !important;
  height: auto;
  align-self: center;
  text-align: center;
}

.slide {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex;
}

/* Adjust the image size to be responsive */
.imageactive {
  width: 100%;
  height: auto;
  max-height: 500px;
  border: 5px var(--secondary-color) solid;
  border-bottom: 30px var(--secondary-color) solid;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);

}

/* .imageactive.black-and-white {
  filter: grayscale(100%)!important;
  filter: contrast(1.2) grayscale(100%) !important;
} */
.textactive {
  font-size: 30px;
  font-family: 'Raleway', sans-serif !important;
  text-wrap: wrap;
}

/* Make activities responsive */
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.activity img {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px
}

@media (min-width: 768px) {
  .activity {
    flex-direction: row;
    text-align: left;
  }

  .activity img {
    width: 50%;
    max-width: none;
    transition: ease-in-out 0.5s;

  }


  .activity .text {
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif !important;
    align-items: center;
    align-content: right !important;
    transition: ease-in-out 0.5s;
  }

  .activity .text:hover {
    transform: translateX(0);
    /* Reset translation on hover */
  }

  .activity:nth-child(even) img {
    order: 2;
  }
}