.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Use percentage to make it responsive */
  max-width: 1200px; /* Set a max-width to avoid stretching on larger screens */
  height: 400px;
  margin: 0 auto; /* Center the carousel horizontally */
  margin-top: -40px;
}

/* Adjust the image size to be responsive */
.imageactive {
  width: 50% !important;
  height: auto !important;
  /* border-radius: 10px !important; */
  transform:
    perspective(1750px)
    translate3d(0px, 0px, -50px)
    rotateX(15deg)
    scale(0.9, 0.9);
  /* border-radius: 20px; */
  border: 5px var(--secondary-color) solid;
  border-bottom: 30px var(--secondary-color) solid;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform; /* Adding a smooth transition effect */
}
/* .imageactive.black-and-white {
  filter: grayscale(100%)!important;
  filter: contrast(1.2) grayscale(100%) !important;
} */


.imageactive:hover {
  transform: translate3d(0px, 0px, -250px) !important; /* Removing single quotes around '180deg' */
  /* box-shadow: 0px 0px 10px 0px var(--secondary-color); */
}

.textactive {
  font-size: 30px;
  font-family: 'Raleway', sans-serif!important;
  text-wrap: wrap;
}
/* Make activities responsive */
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.activity img {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px
}

@media (min-width: 768px) {
  .activity {
    flex-direction: row;
    text-align: left;
  }

  .activity img {
    width: 50%;
    max-width: none;
    transition: ease-in-out 0.5s;
    
  }

  .activity img:hover {
    transform: scale(1.05);
  }

  .activity .text {
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif!important;
    align-items: center;
    align-content: right !important;
    transition: ease-in-out 0.5s;
  }

  .activity .text:hover {
    transform: translateX(0); /* Reset translation on hover */
  }

  .activity:nth-child(even) img {
    order: 2;
  }
}